body {
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
}

.container {
    text-align: center;
}

label {
    display: block;
}

#time {
    margin-top: 250px;
    margin-bottom: 0;
    font-size: 1000%;
}

.todo {
    margin-top: 50px;
    font-size: 250%;
}

#greeting {
    margin: 0 auto;
    font-size: 300%
}

#task {
    border: 0;
    border-bottom: 2px solid black;
}