body {
    background-image: url('https://source.unsplash.com/1600x900/daily?dark');
}

.container {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
}

#time {
    margin-top: 250px;
    margin-bottom: 0;
    font-size: 1000%;
}

.todo {
    margin-top: 50px;
    font-size: 250%;
}

#greeting {
    margin: 0 auto;
    font-size: 300%
}

#task {
    margin: 0 auto;
    display: block;
    width: 50%;
    font-size: 40px;
    background: none;
    color: #ffffff;
    border: 0;
    border-bottom: 2px solid #ffffff;
}

#task::placeholder {
    text-align: center;
}

input:focus {
    outline: none;
}