body {
    background-image: url('https://source.unsplash.com/1600x900/daily?dark');
    font-size: 3.5em;
}

.container {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
}

#time {
    margin-top: 250px;
    margin-bottom: 0;
}

.todo {
    margin-top: 50px;
}

#greeting {
    margin: 0 auto;
}

#task {
    margin: 0 auto;
    display: block;
    width: 50%;
    background: none;
    color: #ffffff;
    border: 0;
    border-bottom: 2px solid #ffffff;
}

#task::placeholder {
    text-align: center;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #ffffff;
}

#userName {
    border: 0;
    border-bottom: 2px solid #ffffff;
    width: 5em;
    font-family: inherit;
    background: none;
    color: #ffffff;
}

#todoItems {
    display: inline-block;
}